.dark_theme {
    --bg-color: #0E0C15;
    --inverted-bg-color: #121825;
    --primary-color: #fff;
    --inverted-primary-color: #121825;
    --secondary-color: #9CA3AF;
    --inverted-secondary-color: #0452ff;
}