.Header {
    background-color: var(--inverted-bg-color);
    padding: 16px 24px;
    border-radius: 17px;
    margin: 25px 34px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.organizationWrapper {
    display: flex;
    gap: 44px;
}