.Pagination {
    margin-top: 10px;
}

.paginationButton {
    margin: 2px;

    button {
        color: var(--primary-color);
        
    }

    li:not(:first-child, :last-child) {
        border: 8px;
    }

    li:first-child, :last-child {
        color: var(--dark-grey);
    }
}